@import "tailwindcss";


:root {
  margin: 0; 
  padding: 0; 
  font-family: 'Inter';
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  background-color: #0e0e11;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Figtree', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-color: #030303;
  color: #fefefe;
}



@property --progress {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

[role = "progressbar"] {

  --size: 190px; 
  --bar-width: 20px;


  width: var(--size);
  aspect-ratio: 1 / 1;

  background:conic-gradient(#0cdcf8 var(--progress, 0), #12364c 0%);
  border-radius: 95px;

  display: flex;
  justify-content: center;
  align-items: center;
 
  transition: --progress 0.5s ease
}


[role = "progressbar"]::after{
  box-sizing: border-box;
  content: attr(aria-valuetext) ; 
  background: #141414; 
  border-radius: 95px;
  width: calc(100% - var(--bar-width)); 
  aspect-ratio: 1 / 1; 

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}